<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/das.css') }}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" href="{{ url_for('static', filename='images/logo-dark.png') }}" type="image/png">

    <title>Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="images/logo.png" alt="">
            </div>
            <span class="logo_name">Warshow</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="{{ url_for('chatbot_page') }}">
                    <i class="uil uil-robot"></i>

                    <span class="link-name">Book Service</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Comment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="{{ url_for('logout') }}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li>
                    <a><i class="uil uil-trash"></i>
                <form action="{{ url_for('delete_account') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete your account?');">
                    <button type="submit" ><span class="link-name">Delete account</span></button>
                </form></a>
                </li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <span class="text1">Welcome, {{ user_name }}!</span>
                </div>
                <div class="title">
                    
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Live Service Tracking</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <img src="/video_feed" width="600" style="border-radius: 10px;">
                    </div>
                    <!--<div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total Share</span>
                        <span class="number">10,120</span>
                    </div>-->
                </div>
            
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Booking Activity</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        
                        <span class="data-title">Booking</span>
                        {% for booking in bookings %}
                        <span class="data-list">{{ booking.date_time }}</span>
                        {% endfor %}
                    </div>
                    <div class="data email">
                        <span class="data-title">Center</span>
                        {% for booking in bookings %}
                        <span class="data-list">{{ booking.service_center }}</span>
                        {% endfor %}
                    </div>
                    <div class="data joined">
                        <span class="data-title">Time</span>
                        {% for booking in bookings %}
                        <span class="data-list">{{ booking.slot }}</span>
                        {% endfor %}
                    </div>
                    <div class="data type">
                        <span class="data-title">Status</span>
                        {% for booking in bookings %}
                        <span class="data-list">{{ booking.status }}</span>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <script>const body = document.querySelector("body"),
        modeToggle = body.querySelector(".mode-toggle");
        sidebar = body.querySelector("nav");
        sidebarToggle = body.querySelector(".sidebar-toggle");
  let getMode = localStorage.getItem("mode");
  if(getMode && getMode ==="dark"){
      body.classList.toggle("dark");
  }
  let getStatus = localStorage.getItem("status");
  if(getStatus && getStatus ==="close"){
      sidebar.classList.toggle("close");
  }
  modeToggle.addEventListener("click", () =>{
      body.classList.toggle("dark");
      if(body.classList.contains("dark")){
          localStorage.setItem("mode", "dark");
      }else{
          localStorage.setItem("mode", "light");
      }
  });
  sidebarToggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
      if(sidebar.classList.contains("close")){
          localStorage.setItem("status", "close");
      }else{
          localStorage.setItem("status", "open");
      }
  })</script>
</body>
</html>